<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DingJiaMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.DingJia">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="xuenian" jdbcType="VARCHAR" property="xuenian" />
        <result column="jiaocaimingcheng" jdbcType="VARCHAR" property="jiaocaimingcheng" />
        <result column="dingjia" jdbcType="DECIMAL" property="dingjia" />
        <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
        <result column="username" jdbcType="VARCHAR" property="username" />
    </resultMap>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select *  from dingjia where  username=#{username} order by id desc
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select *  from dingjia where  id=#{id}
    </select>
    <update id="updateById">
        update   dingjia set  xuenian=#{xuenian},jiaocaimingcheng=#{jiaocaimingcheng},dingjia=#{dingjia},beizhu=#{beizhu} where id=#{id}
    </update>
    <insert id="insert"  >
        insert into dingjia(xuenian,jiaocaimingcheng,dingjia,beizhu,username) values  (#{xuenian},#{jiaocaimingcheng},#{dingjia},#{beizhu},#{username})
    </insert>
    <delete id="deleteById">
        DELETE FROM dingjia  where id=#{id}
    </delete>
</mapper>
